body{
	background-color:#0A1929 ;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper{
	background-color: #001E3C;
	padding: 2rem 3rem;
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	color: white;
}
.form-header{
	text-align: center;
	color: white;
}

.form-group{
	margin-top: 1.2rem;
	display: flex;
	flex-direction: column;
}

.text-danger{
	color: red;
}

.form-input{
	padding: 1rem 0.7rem;
	border-radius: 0.8rem;
	margin-top: 0.5rem;
	min-width: 16rem;
	border: 1px solid #0A1929;
	font-size: 1rem;
}

select.form-input{
	padding: 0.7rem 0.7rem;
}

.form-btn{
	margin-top: 1rem;
	padding: 0.8rem 0.5rem;
	border-radius: 0.6rem;
	font-size: 1.3rem;
	color: white;
	font-weight: 500;
	background-color: #3f51b5;
	border: none;
	transition: all 0.5s;
	cursor: pointer;
}

.form-btn:hover{
	background-color: #4b5fd5;
}

.form-btn a {
	text-decoration: none;
	color: white;
}

.form-btn a::selection  {
	text-decoration: none;
	color: white;
}