body{
	background-color:#001E3C;
	color: white;
}


.main-content{
	margin-top: 2rem;
}


hr{
	border: 1px solid #0A1929;
}

.text-blue{
	color: #1769aa;
}

.link{
	text-decoration: none;
	color: #4dabf5;
	transition: all 0.5s;
}

.link:hover{
	color: #1769aa;
}