.movie-table{
	margin-top: 1.5rem;
	padding: 1rem;
	background-color: #0A1929;
	border: none;
	border-radius: 0.8rem;
	width: 100%;
}

th{
	font-size: 1.5rem;
}

th,td{
	padding: 0.8rem;
}

td{
	font-size: 1.2rem;
}

.movie-body-row{
	text-align: center;
}